%table
  -@events.each do |event|
    %td
      =event.data[:description]
    -if event.action_type=="sign_in" || event.action_type=="sign_out"
      %td
        =event.created_at
      %tr
    -else
      %td
        =event.data[:category_name]
      %td
        =event.data[:picture_name]
      %td
        =event.data[:url]
      %tr



