%table
  -@events.each do |event|
    -if event.action_type=="sign_in" || event.action_type=="sign_out"
      %tr
        %td
          =event.data[:description]
        %td
          =event.created_at
    -else
      %tr
        %td
          =event.data[:description]
        %td
          =event.data[:category_name]
        %td
          =event.data[:picture_name]
        %td
          =event.data[:url]



