%p
  %h2
    Category:
    =@category.name

-@pictures.each do |picture|
  =link_to(image_tag(picture.image.url(:medium)), categories_picture_path(picture.category.name, picture.id))

=paginate @pictures